.projectBody {
  margin: 0 0 -5.93em 0;
  padding: 0;
  width: 100%;
  background: url("https://ryecode.github.io/portfolio/ImageBank/projectsBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.projectCard {
  margin: 0;
  padding: 5em 3em 13.6em 3em;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 72, 12, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.projectHeadline {
  /* border-bottom: 2px solid #fff; */
  margin-bottom: 1em;
  font-size: 2.5em;
  color: #fdfdfd;
  padding: 0;
  caret-color: transparent;
  text-shadow: 2px 2.5px black;
  font-family: 'Carter One';
  letter-spacing: 3px;
  opacity: 1;
}

@media (max-width: 770px) {
  .profileCard {
    flex-direction: column;
    margin-top: 1.5em;
    width: 100%;
  }

  .folder {
    transform: translateX(-3.75em);
  }

  #pageTitle {
    font-size: large;
    padding: 2em 0 0 0.25em;
    letter-spacing: 2px;
  }


}