.projectBody {
  margin: 0 0 -5.93em 0;
  padding: 0;
  width: 100%;
  background: url("https://ryecode.github.io/portfolio/ImageBank/projectsBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.projectCard {
    margin: 0;
    padding: 5em 3em 13em 3em;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
      background-color: rgba(2, 72, 12, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.projectHeadline {
  border-bottom: 2px solid #fff;
  margin-bottom: 3em;
}

@media (max-width: 770px) {
  .profileCard {
    flex-direction: column;
    margin-top: 1.5em;
    width: 100%;
  }

  .folder {
    transform: translateX(-3.75em);
  }

#titleID {
  transform: translateY(0.3em);
  padding: 1em;
}

}