#resumeBtn {
    text-decoration: none;
    text-shadow: none;
    color: hsl(51, 97%, 44%);
    z-index: 2;
}
#resumeBtn:hover {
  color: hsl(51, 97%, 44%);
}

.hero-image {
background: transparent;
position: absolute;
width: 100%;
box-sizing: border-box;
margin-top: -1em;
margin-bottom: 1em;
height: 250px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-title 
{
font-size: 1.75em;
font-weight: bolder;
position: relative;
font-family: 'Montaga', serif;
position: relative;
width: max-content;
color: hsl(218, 98%, 60%);
font-weight: 400;
letter-spacing: 3px;
}

.hero-title::before,
.hero-title::after {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.hero-title::before {
background-color: black;
height: 1.25em;
animation: typewriter var(--typewriterSpeed) steps(var(--typewriterSteps)) 1s forwards;
}
.hero-title::after {
width: 0.25em;
background: hsl(51, 97%, 44%);
animation: 
    typewriter var(--typewriterSpeed) steps(var(--typewriterSteps)) 1s forwards, 
    blink 750ms steps(18) infinite;
}

.subtitle {
color: hsl(0, 0%, 0% / 0.7);
font-size: 0.75em;
opacity: 0;
transform: translateY(-2rem);
animation: fadeInY 1s ease 
calc(var(--typewriterSpeed) + 0.5s) forwards;
color: hsl(0, 0%, 100%);
font-weight: 400;
margin-top: 2px;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-weight: 800;
}

.hero-bg {
position: relative;
align-self: center;
height: 100%;
width: 100%;
animation: scale 2s ease calc(var(--typewriterSpeed) + 0.5s) forwards;
opacity: 0;

}

:root{
    --clr-neon: hsl(112, 100%, 50%);
    --clr-bg: hsl(320, 43%, 96%);;
  }
  
  .neon-button,
  .neon-button::before,
  .neon-button::after {
    box-sizing: border-box;
  }
  
  .neon-button {
    background-color: transparent;
    font-size: 1rem;
    font-family:'Source Sans Pro', sans-serif;
    color: var(--clr-neon);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    position: relative;
    font-weight: 700;
    opacity: 0;
    animation: scale 0.75s ease-in-out
    calc(var(--typewriterSpeed) + 1s) forwards;
  
    text-shadow: 
        0 0 0.11em whitesmoke,
        0 0 0.45em var(--clr-neon);
  
    box-shadow: 
        inset 0 0 0.5em 0 var(--clr-neon),
        0 0 0.5em 0 var(--clr-neon);
  }
  
  .neon-button::before {
    pointer-events: none; /*use this string to avoid pointer change outside button */
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:  0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;
    background-color: var(--clr-neon);
    z-index: -1;
  }
  
  .neon-button:hover, 
  .neon-button:focus {    
    text-shadow: none;    
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
    
  }
  
