/* ///////////////////////// NEON BUTTON /////////////////////////////*/

:root{
    --clr-neon: hsl(45, 100%, 53%);
    --clr-bg: hsl(320, 43%, 96%);;
  }
  
  .neon-button,
  .neon-button::before,
  .neon-button::after {
    box-sizing: border-box;
  }
  
  .neon-button {
    background-color: transparent;
    font-size: 1.25rem;
    font-family:'Source Sans Pro', sans-serif;
    color: var(--clr-neon);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    position: relative;
    font-weight: 700;
    opacity: 0;
    animation: scale 2s ease-in-out
    calc(var(--typewriterSpeed) + 1s) forwards;
  
    text-shadow: 
        0 0 0.11em whitesmoke,
        0 0 0.45em var(--clr-neon);
  
    box-shadow: 
        inset 0 0 0.5em 0 var(--clr-neon),
        0 0 0.5em 0 var(--clr-neon);
  }
  
  .neon-button::before {
    pointer-events: none; /*use this string to avoid pointer change outside button */
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:  0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;
    background-color: var(--clr-neon);
    z-index: -1;
  }
  
  .neon-button:hover, 
  .neon-button:focus {    
    color: black;
    text-shadow: none;    
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }

  
.accordion-body{
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }