@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Luckiest+Guy&family=Montaga&family=Montserrat+Alternates&family=Poppins&family=VT323&display=swap');

:root {
  --typewriterSpeed: 3s;
  --typewriterSteps: 20;
}

.profileBody {
  margin: 0 0 -5.93em 0;
  padding: 0 0 0 0;
  width: 100%;
  background-image: url("https://ryecode.github.io/portfolio/ImageBank/hexBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 5%;
  overflow-y: hidden;
  overflow-x: hidden;
  opacity: 0;
}

#profileTitle {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  color: rgb(236, 219, 60);
  width: fit-content;
  background: transparent;
  border: none;
  transform: translate(65%, -30%);
  caret-color: transparent;
  z-index: 4;
}


#title {
  font-size: 2.5em;
  color: #fdfdfd;
  padding: 0;
  caret-color: transparent;
  text-shadow: 2px 2.5px black;
  font-family: 'Carter One';
  letter-spacing: 3px;
  opacity: 0;
}

#title1 {
  font-size: 1.5em;
  caret-color: transparent;
  opacity: 0;
  color: #fdfdfd;
  font-weight: 400;
  margin-top: 2px;
  font-family: 'Carter One';
  caret-color: transparent;
  text-shadow: 2px 2.5px black;
  letter-spacing: 3px;
}

.chapter1 {
  opacity: 0;
  margin-top: 2px;
  font-family: 'Carter One';
}

.chapter2 {
  opacity: 0;
  margin-top: 2px;
  font-family: 'Carter One';
}

.chapter3 {
  opacity: 0;
  margin-top: 2px;
  font-family: 'Carter One';
}

.profileCard {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(2, 72, 12, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.header-container {
  caret-color: transparent;
  background: -webkit-radial-gradient(circle, hsl(114, 81%, 19%), hsl(115, 29%, 38%), hsl(114, 96%, 21%));
  background: radial-gradient(circle, hsl(114, 81%, 19%), hsl(115, 29%, 38%), hsl(114, 96%, 21%));
  flex: 1;
  width: 25em;
  height: 32em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 2em 2em 5em 2em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  transform: translateX(15em);
  opacity: 0;
  z-index: 4;
}

.details-container {
  caret-color: transparent;
  background: #56a1eb;
  background: -webkit-linear-gradient(to right, hsl(114, 81%, 19%), hsl(115, 29%, 38%), hsl(114, 96%, 21%));
  background: linear-gradient(to right, hsl(114, 81%, 19%), hsl(115, 29%, 38%), hsl(114, 96%, 21%));
  flex: 1;
  width: 25em;
  height: 32em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 2em 1em 5em 1em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(15em);
  position: absolute;
  opacity: 0;
  z-index: 4;
}

.skills-container {
  caret-color: transparent;
  background: linear-gradient(to top, hsl(114, 81%, 19%), hsl(115, 29%, 38%), hsl(114, 96%, 21%));
  flex: 1;
  width: 25em;
  height: 32em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 2em 2em 5em 2em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(15em);
  position: absolute;
  opacity: 0;
  z-index: 4;
}

.profileImage {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  margin: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#h2 {
  font-size: 2.5em;
  margin-bottom: 0px;
  font-weight: bold;
  caret-color: transparent;
}

#h3 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  font-weight: bold;
  caret-color: transparent;
}


.gradienttext {
  background-image: linear-gradient(-225deg,
    hsl(63, 100%, 35%),
    hsl(63, 98%, 42%),
    hsl(63, 100%, 50%), 
    hsl(63, 83%, 66%),
    hsl(63, 100%, 78%),
    hsl(63, 83%, 66%),
    hsl(63, 100%, 50%), 
    hsl(63, 98%, 42%), 
    hsl(63, 100%, 35%));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  caret-color: transparent;
  font-family: 'Carter One';
  text-shadow: currentColor;
}

#role {
  font-size: 1em;
  margin-bottom: 5px;
  color: hsl(0, 0%, 100%);
  text-shadow: 1px 1px #000000;
  caret-color: transparent;
  font-family: 'Carter One';
}

#qoute {
  font-size: 0.6em;
  color: white;
  caret-color: transparent;
  text-shadow: 1px 1px #000000;
}

#aboutMe {
  margin: 0;
  padding: 0;
  font-size: 0.68em;
  letter-spacing: 0.15em;
  color: white;
  overflow-y: auto;
  caret-color: transparent;
  text-shadow: 1px 1px black;
  text-align: left;
}


.skillButtons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  caret-color: transparent;
}

.skillButtons li {
  position: relative;
  list-style: none;
  width: 8em;
  height: 3.25em;
  margin: 0;
  padding: 0;
  border-radius: 25px;
  box-sizing: border-box;
  caret-color: transparent;
}

.skillButtons li:before,
.skillButtons li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 25px;
  filter: blur(20px);
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

.skillButtons li:after {
  filter: blur(40px);
}

.skillButtons li:hover:after,
.skillButtons li:hover:before {
  opacity: 1;
}

.skillButtons li a {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  color: #000;
  background: #000;
  font-size: 0.5em;
  border-radius: 25px;
  line-height: 32px;
  text-decoration: none;
}

.skillButtons li a span {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  transform: rotateY(0deg) scale(0.8);
  opacity: 1;
}

.skillButtons li a:hover span {
  font-weight: bold;
  font-size: 1.1em;
  transform: scale(1em);
}

.skillButtons li:nth-child(1) a,
.skillButtons li:nth-child(1):before,
.skillButtons li:nth-child(1):after {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.skillButtons li:nth-child(2) a,
.skillButtons li:nth-child(2):before,
.skillButtons li:nth-child(2):after {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.skillButtons li:nth-child(3) a,
.skillButtons li:nth-child(3):before,
.skillButtons li:nth-child(3):after {
  background: linear-gradient(to right, #F9D423, #e65c00);
}

.skillButtons li:nth-child(4) a,
.skillButtons li:nth-child(4):before,
.skillButtons li:nth-child(4):after {
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.skillButtons li:nth-child(5) a,
.skillButtons li:nth-child(5):before,
.skillButtons li:nth-child(5):after {
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.skillButtons li:nth-child(6) a,
.skillButtons li:nth-child(6):before,
.skillButtons li:nth-child(6):after {
  background: linear-gradient(to right, #F9D423, #e65c00);
}

.skillButtons li:nth-child(7) a,
.skillButtons li:nth-child(7):before,
.skillButtons li:nth-child(7):after {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

.skillButtons li:nth-child(8) a,
.skillButtons li:nth-child(8):before,
.skillButtons li:nth-child(8):after {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}


.skillButtons li:nth-child(9) a,
.skillButtons li:nth-child(9):before,
.skillButtons li:nth-child(9):after {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.skillButtons li:nth-child(n+10) a,
.skillButtons li:nth-child(n+10):before,
.skillButtons li:nth-child(n+10):after {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.skillButtons li:nth-child(n+11) a,
.skillButtons li:nth-child(n+11):before,
.skillButtons li:nth-child(n+11):after {
  background: linear-gradient(to right, #F9D423, #e65c00);
}

.skillButtons li:nth-child(n+12) a,
.skillButtons li:nth-child(n+12):before,
.skillButtons li:nth-child(n+12):after {
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.skillButtons li:nth-child(n+13) a,
.skillButtons li:nth-child(n+13):before,
.skillButtons li:nth-child(n+13):after {
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.skillButtons li:nth-child(n+14) a,
.skillButtons li:nth-child(n+14):before,
.skillButtons li:nth-child(n+14):after {
  background: linear-gradient(to right, #F9D423, #e65c00);
}

.skillButtons li:nth-child(n+15) a,
.skillButtons li:nth-child(n+15):before,
.skillButtons li:nth-child(n+15):after {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.skillButtons li:nth-child(n+16) a,
.skillButtons li:nth-child(n+16):before,
.skillButtons li:nth-child(n+16):after {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}


.accordionContainer {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.toggleBtns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* position: absolute; */
  font-size: larger;

  padding: 0 0 0 1.1em;
  caret-color: transparent;
  text-shadow: 2px 2px black;
}

ul li button {
  background-color: transparent;
  border: none;
  color: #fdfdfd;
  caret-color: transparent;
  text-shadow: 2px 2.5px black;
  letter-spacing: 3px;
}

.blockCross1 {
  background-color:#0063d5b7;
  position: absolute;
  height: 15em;
  width: 50em;
  transform: translate(100em, -8.78em);
  z-index: 2;
  caret-color: transparent;
  opacity: 0;
}

.blockCross2 {
  background-color:#0063d5b7;
  position: absolute;
  height: 15em;
  width: 60em;
  transform: translate(100em, -8.78em);
  z-index: 2;
  caret-color: transparent;
  opacity: 0;
}

.blockCross3 {
  background-color:#5500d5b7;
  position: absolute;
  width: 15em;
  height: 60em;
  transform: translate(-8.78em, 100em);
  z-index: 2;
  caret-color: transparent;
  opacity: 0;
}

.blockCross4 {
  background-color:#5500d5b7;
  position: absolute;
  width: 15em;
  height: 60em;
  transform: translate(-8.78em, 100em);
  z-index: 2;
  caret-color: transparent;
  opacity: 0;
}

@media (max-width: 770px) {
  .profileBody {
    margin-top: 0;
    margin-bottom: -5.93em;
    padding: 0 0 5.93em 0;
    background-position-x: 60%;
  }

  .profileCard {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    width: 100%;
    transform: translateY(1em);
  }


  .details-container {
    margin-left: 26em;
    margin-top: 10em;
    padding: 1em 0 1em 0;
    width: 90%;
  }

  .skills-container {
    margin-left: 27em;
    margin-top: 10em;
    padding: 1em 1em 1em 1em;
    width: 90%;
    z-index: 4;
  }

  .header-container {
    margin-left: 27em;
    margin-top: 10em;
    padding: 1em;
    width: 90%;
  }

  #title {

    font-size: large;
    padding: 2em 0 0 0.25em;
    letter-spacing: 2px;
  }

  #title1 {
    font-size: large;
    padding: 0em 0.5em 0 0.25em;
    letter-spacing: 2px;
  }

  #profileTitle {
    transform: translateY(-21em);

  }

  .skillButtons {
    transform: translateX(0em);
  }

  .toggleBtns {
    margin: 0 0 0 0;
    transform: translateX(5px);
  }

  .blockCross1 {
    visibility: hidden;
  }

  .blockCross2 {
    visibility: hidden;
  }
  
  .blockCross3 {
    margin-bottom: -9em;
  }

  .blockCross4 {
    margin-bottom: -7em;

  }

}