:root {
  --typewriterSpeed: 3s;
  --typewriterSteps: 25;
}

body {
  /* font-family: Arial, sans-serif; */
  padding: 10px 0 10px 0;
  background: #180835;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* .profTitle 
  {
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    font-family: 'Poppins', sans-serif;
    width: max-content;
    font-weight: 800;
    border-radius: 5px;
    
  } */

.profTitle::before,
.profTitle::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.profTitle::before {
  background: linear-gradient(to top, #0c0c0c, #434040);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterSteps)) 1s forwards;
  border-radius: 5px;

}

#profileTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 0.05em;
  color: hsl(0, 0%, 97%);
  margin: 1em 0 20px 0;
  padding: 5em;
  box-shadow: -2px 3px 1px #5b5b5b;
  width: fit-content;
  background: linear-gradient(to top, #0c0c0c, #434040);
  border-color: #2e2e2e;
  border-radius: 5px;
  transform: translateX(134%);
}

#title {
  font-size: 1.85rem;
  padding: 0.5em;
}

.profileCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
  margin-bottom: 0em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #227b02, #00471a, #227b02);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #227b02, #00471a, #227b02);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left-container {
  background: #000000;
  background: -webkit-linear-gradient(to top, #0c0c0c, #434040, #0c0c0c);
  background: linear-gradient(to top, #0c0c0c, #434040, #0c0c0c);
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  padding: 1em;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middle-container {
  background: linear-gradient(to top, #0c0c0c, #434040, #0c0c0c);
  flex: 1;
  width: 100%;
  height: 600px;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-container {
  background: #000000;
  background: -webkit-linear-gradient(to top, #0c0c0c, #434040, #0c0c0c);
  background: linear-gradient(to top, #0c0c0c, #434040, #0c0c0c);
  flex: 1;
  width: 100%;
  height: 600px;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 770px) {
  .profileCard {
    flex-direction: column;
    margin-top: 0.1em;
    width: 100%;
  }

  .middle-container {
    height: 600px;
  }

  .left-container {
    flex: 1;
    max-width: 100%;
    background: linear-gradient(to top, #000000, #434343);
  }

  .right-container {
    background: linear-gradient(to top, #434343, #000000);
  }

  #title {
    transform: translateY(1em);
    font-size: x-large;
    padding: 1em;
  }

  #profileTitle {
    margin: 5em 0 0 0;
    transform: translateX(15em);
  }

  .profTitle::before {
    transform: translateY(-1em);
  }

  #pCardLeft {
    margin: 1.5em 0 1.5em 0.25%;
    width: 95%;
  }

  #pCardMid {
    margin: 1.5em 0 1.5em 0.25%;
    width: 95%;
  }

  #pCardRight {
    margin: 1.5em 0 1.5em 0.25%;
    width: 95%;
  }

  .middle-container {
    background: linear-gradient(to top, #0c0c0c, #434040, #0c0c0c);
  }

}


.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#h2 {
  font-size: 2.5em;
  margin-bottom: 0px;
  font-weight: bold;
}

#h3 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  font-weight: bold;
}

.gradienttext {
  background-image: linear-gradient(to right, #0c832f 0%, #8eff5a 50%, #038112 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#role {
  font-size: 1em;
  margin-bottom: 0px;
  color: aliceblue
}

#aboutMe {
  margin: 0.5em;
  padding: 1.2em;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  color: aliceblue;
  overflow-y: auto;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  border-collapse: collapse;
}

.td {

  padding: 10px;
  border: none;
  border-radius: 20px;
  color: aliceblue;
}

.td:first-child {
  font-weight: bold;
}