#contactCardQuery {
  height: 350px;
  width: 100%;
  animation: crashRight 3s ease-in calc(var(--typewriterSpeed) + 1.1s) forwards;
  animation-iteration-count: initial;
  transform: translateX(120%);
  z-index: 1;
  margin-top: 0px;
  border: 5px hsl(112, 100%, 50%);
  border-style: ridge;
}

#cardQuery {
  text-align: center;
  margin-top: 35px;
  width: 80%;
  z-index: 1;
  opacity: 1;
}

#tilter {
  animation: crashLeft 3s ease-in calc(var(--typewriterSpeed) + 1s) forwards;
  animation-iteration-count: initial;
  text-align: center;
  transform: translateX(-110%);
  z-index: 1;
}

#rowDaw {
  margin: 0em 5px 0px 0;
  padding: 5em;
  color: aliceblue;
  display: flex;
  position: relative;
}

.galaxyBackground {
  /* animation: scale 2s ease calc(var(--typewriterSpeed) + 0.5s) forwards; */
  background-image: url("https://ryecode.github.io/portfolio/ImageBank/contactWallpaper.jpg");

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: aquamarine;
}