video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
    position: fixed;
}

.content {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(4, 4, 4);
    padding-bottom: 5em;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -6em;
}

#heroHome {
    position: relative;
    margin: -10em 0 0 -35em;
    caret-color: transparent;
}

#askName {
    position: absolute;
    margin: 0em -33em -19em 0;
    opacity: 0;
    padding: 2em;
    caret-color: transparent;
    color: aliceblue;
}

#askName button {
    color: #3367f8;
    text-shadow: none;
}

#greet {
    color: hsl(0, 0%, 0% / 0.7);
    font-size: 2.7em;
    opacity: 1;
    /* transform: translateY(-2em); */
    /* animation: fadeInY 1s ease calc(var(--typewriterSpeed) + 1s) forwards; */
    font-weight: 400;
    margin-top: -2em;
    padding: 1em;
    caret-color: transparent;
    font-family: 'Luckiest guy', cursive;
    background-image: linear-gradient(to top, #02e328 0%, #aaedca 50%, #02e328 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 1 1 #011108;
    caret-color: transparent;
}

@media (max-width: 770px) {
    #heroHome {
        transform: translate(17em, -5em);
    }

    #askName {
        margin: 0 0.5em -22em 0;
        ;
    }

    #greet {
        margin-top: -3.5em;
    }

}