.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 0.75em;
  background-color: transparent;
  text-transform: uppercase;
  color: hsl(188, 88%, 55%);
  text-align: center;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 2em;
  left: 0.5em;
  bottom: 0;
  display: flex;
  margin: 0;
  padding: 0 0 0 -4em;
  transition: all 0.35s;
  z-index: 2;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modalTrigger:target {
  visibility: hidden;
  opacity: 0;
}

.modal__content {
  position: relative;
  max-width: 100%;
  background:hsla(147, 32%, 36%, 0.998);
  padding: 1em 1.5em 1.5em 1.75em;
  height: 100%;
  color: rgb(179, 175, 175);
  text-shadow: 1px 1px black;
}

.modal__content>h1 {
  color: #ffffff;
  text-align: left;
  font-size: 1.5em;
}

.modal__footer {
  text-align: center;
  color: rgb(241, 241, 241);
  text-decoration: none;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-align: left;
}

.modal__close2,
.modal__close2::before,
.modal__close2::after {
  box-sizing: border-box;
}

.modal__close2 {
  top: 14em;
  left: 26em;
  width: fit-content;
  height: 5em;
  font-size: 0.55em;
  font-family: 'Carter One', sans-serif;
  cursor: pointer;
  text-decoration: none;
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.5em;
  position: absolute;
  font-weight: 400;
  opacity: 1;
  text-shadow: none;
  z-index: 4;
  box-shadow:
    inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
}

.modal__close2::before {
  pointer-events: none;
  /*use this string to avoid pointer change outside button */
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
  filter: blur(1em);
  opacity: 0.7;
}

.modal__close2::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
  background-color: var(--clr-neon);
  z-index: -1;
}

.modal__close2:hover,
.modal__close2:focus {
  color: hsl(0, 98%, 50%);
}

.modal__close2:hover::before,
.modal__close2:focus::before {
  opacity: 1;
}

.modal__close2:hover::after,
.modal__close2:focus::after {
  opacity: 1;
}



.modalPointer {
  position: absolute;
  top: -11em;
  right: -25em;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: all .4s;
}

.modalPointer:target {
  visibility: visible;
  opacity: 1;
  animation: bounce 1s ease-in forwards;
  animation-iteration-count: infinite;
  transform: translateY(120%);
  pointer-events: none;
  cursor: none;
  caret-color: transparent;
  padding: 0;
  margin: 0;
  z-index: 4;
}

.enterBtn,
.enterBtn::before,
.enterBtn::after {
  box-sizing: border-box;
}

.enterBtn {
  background-color: transparent;
  font-size: 0.75em;
  font-family: 'Carter One', sans-serif;
  color: hsl(188, 88%, 55%);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: var(--clr-neon) 0.125em solid;
  padding: 1em;
  border-radius: 0.25em;
  position: relative;
  font-weight: 700;
  opacity: 1;
  box-shadow:
    inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
}

.enterBtn::before {
  pointer-events: none;
  /*use this string to avoid pointer change outside button */
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.27);
  filter: blur(1em);
  opacity: 0.7;
}

.enterBtn::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
  background-color: var(--clr-neon);
  z-index: -1;
}

.enterBtn:hover,
.enterBtn:focus {
  text-shadow: none;
  color: hsl(0, 98%, 50%);
}

.enterBtn:hover::before,
.enterBtn:focus::before {
  opacity: 1;
}

.enterBtn:hover::after,
.enterBtn:focus::after {
  opacity: 1;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0%)
  }

  50% {
    transform: translateY(-100%)
  }
}


@media (max-width: 770px) {
  .modal {
    transform: translateX(0em);
    margin-top: -0.5em;
  }

  .modalPointer img {
    width: 30%;
    transform: translateX(-13em);
    margin-top: -20em;
    z-index: 4;
  }

  .modal__close2 {
    transform: translateX(0);
  }

  .modal__content {
    font-size: 0.85em;
    padding-top: 2em;
  }

  .wrapper a {
    margin-top: 3em;
  }
}