@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.footer {
  background-image: linear-gradient(to bottom, rgba(4, 4, 4), rgb(24, 24, 24));
  width: 100%;
  margin-bottom: 0;
  padding: 1.75em 1em 1em 1em;
  position: absolute;
}

.btn {
  width: 100%;
  height: 1em;
  border: none;
  outline: none;
  pointer-events: none;
  position: relative;
  border-radius: 10px;
  padding: 0 0 3em 0;
}

.words {
  color: white;
  font-size: 1.1em;
  background-image: none;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Carter One';
}

.btn .words {
  background: linear-gradient(124deg,
      #b727ff 1%,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #b727ff,
      #5900f3,

      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #b727ff,
      #5900f3);

  background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: black;

  animation: glowing 20s linear infinite;
  background-size: 200%;

  opacity: 0;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn .words {
  opacity: 1;
}

.btn:before {
  content: "";
  background: linear-gradient(90deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #d034ff,
      #9e00f3,

      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #d034ff,
      #9e00f3);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 200%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(50% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.btn:after {
  content: "";
  background: linear-gradient(90deg,
      #8e24ff,
      #5100f3,
      #2b1de8,
      #1ddde8,
      #1de840,
      #018301,
      #e8b71d,
      #b20101,
      #ff2400,

      #8e24ff,
      #5100f3,
      #2b1de8,
      #1ddde8,
      #1de840,
      #018301,
      #e8b71d,
      #b20101,
      #ff2400);
  position: absolute;
  top: calc(50% - 2px);
  left: -2px;
  background-size: 200%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(50% + 4px);
  animation: glowing-reverse 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 400% 0;
  }
}

@keyframes glowing-reverse {
  0% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.credit {
  width: 50%;
  font-size: 0.55rem;
  caret-color: transparent;
  text-align: left;
  color: rgb(218, 227, 235);
  opacity: 1;
  margin: 0 0 0 -60em;
  display: inline-block;
}

.credit a {
  text-decoration: none;
  color: rgb(16, 137, 0);
}

@media (max-width: 770px) {
  .credit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    margin: 7.5em 0em 1em -2em
  }

  .sub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    margin: 0 0 5em -1.5em;
    width: 100%;
    padding: 0;
  }

  #footerQuery img {
    width: 70%;

  }

  .footer {
    padding-top: 2em;
    height: 10em;
  }


}

  .sub {
    width: 50%;
    opacity: 0;
    animation: scale 1s ease-in-out 0.5s forwards;
    background: transparent;
    border: none;
    padding-left: -100em;
    z-index: 1;
    pointer-events: all;
    margin-top: -4.5em;
  }