:root {
    --container-bg: radial-gradient(circle,
            rgb(68, 68, 68) 0%,
            rgb(22, 22, 22) 100%);
    --card-bg-bg: #07040e;
    --card-cta-bg: radial-gradient(circle,
            rgba(100, 47, 210, 1) 0%,
            rgba(37, 17, 92, 1) 100%);
    --card-fg-bg: radial-gradient(circle,
            rgba(39, 105, 210, 0.95) 0%,
            rgba(13, 16, 39, 0.95) 50%,
            rgba(11, 11, 36, 0.95) 100%);
    --card-bg-border: rgba(67, 155, 62, 0.483);
    --card-cta-border: rgba(82, 62, 155, 0.5);
    --card-fg-border: rgba(67, 155, 62, 0.483);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: relative;
}

p {
    color: rgb(193, 195, 196);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5em;
    padding: 0 5em 0 5em;
    text-align: center;
}

.folder {
    position: relative;
    width: 200px;
    height: 320px;
    border-radius: 10px;
    perspective: 1400px;
    cursor: pointer;
    margin-bottom: 2em;

}

.card-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    background: var(--card-bg-bg);
    border: 1px solid var(--card-bg-border);
    border-radius: 10px;
    transform-origin: left top;
}

.card-bg p {
    color: hsl(112, 100%, 50%);
    opacity: 0.25;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
}

.card-cta {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 75%;
    background: var(--card-cta-bg);
    border: 1px solid var(--card-cta-border);
    border-radius: 10px;
    transition: 0.5s;
}

.card-cta a {
    position: absolute;
    top: 45%;
    right: -45%;
    transform: rotate(90deg);
    color: #fff;
    font-size: 0.64em;
    font-weight: light;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.card-fg {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2em;
    background: var(--card-fg-bg);
    backdrop-filter: blur(25px);
    border: 1px solid var(--card-fg-border);
    border-radius: 10px;
    color: hsl(112, 100%, 50%);
    transform-style: preserve-3d;
    transform-origin: left top;
    transition: 0.5s;
    pointer-events: none;
    overflow: hidden;
}

.card-fg p.case-study {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-fg p.review {
    font-size: 15px;
}

.card-fg .logo {
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 70px;
    transform: translateX(250%);
    margin-bottom: 5%;
}

.card-fg .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
}

.folder:hover .card-cta {
    transform: translateX(40px) rotateZ(7deg);
}

.folder:hover .card-cta a {
    z-index: 2;
}

.folder:hover .card-fg {
    transform: rotateY(-40deg);
}

.detailButton {
    margin-top: 335px;
}

.card-image {
    height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
}

@media(max-width: 770px) {
    .container {
        padding: 10em;
        height: 100%;
    }

    .projects {
        flex-direction: column;
        margin: 0 0 3em 0;
        padding: 0;
    }

    .cardContainer {
        padding: 10em 0em 10em 0em;
    }

    .card-fg {
        pointer-events: none;
    }

    .detailsBtn {
        margin-bottom: 3em;
    }

    .folder {
        margin-bottom: 5em;
        opacity: 0;
    }
}

/* WEBSITE DETAILS */

.detail-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding-top: 10%;
    background-image: linear-gradient(0, rgba(240, 169, 1, 1), rgba(240, 169, 1, 1), rgb(240, 169, 1, 1), rgb(240, 169, 1, 1), rgba(240, 169, 1, 0.9), rgb(240, 169, 1, 0.9), rgb(240, 169, 1, 0.9), rgb(240, 169, 1, 0.9), rgb(240, 169, 1, 0.9), rgb(240, 169, 1, 0.9), rgb(240, 169, 1, 0.8), rgb(240, 169, 1, 0.8), rgb(240, 169, 1, 0.8), rgb(240, 169, 1, 0.7), rgb(240, 169, 1, 0.7), rgb(240, 169, 1, 0.6), rgb(240, 169, 1, 0.5), rgb(240, 169, 1, 0.4), rgb(240, 169, 1, 0.3), rgb(240, 169, 1, 0.2), rgb(240, 169, 1, 0.1), transparent);
    color: black;
    transition: opacity 0.45s, height 0.5s;
    border-radius: 10px;
    pointer-events: none;
}

.detailsModal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    margin: 0;
    padding: 0;
    transition: all 0.35s;
    transform-style: preserve-3d;
    transform-origin: left top;
    transition: 0.5s;
    pointer-events: none;
    overflow: hidden;
}

.folder:hover .detailsModal {
    transform: rotateY(-40deg);
}


.detail-container a {
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
    padding: 1em;
    background-color: #022177;
    text-transform: uppercase;
}

.detail-header {
    width: 100%;
    font-size: 0.95em;
    opacity: 1;
    color: rgb(3, 217, 255);
    font-weight: 900;
    text-align: left;
    margin: 0em 1em 0 1em;
    font-family: 'Carter One';
    text-shadow: 1px 2px black;
    border-bottom: 2px solid #fff;
}


.detail-description {
    width: 100%;
    font-size: 0.6em;
    color: rgb(0, 0, 0);
    padding: 0 1.5em 0 1.5em;
    font-weight: bold;
    text-align: left;
    margin-top: -2em;
    text-shadow: 0.1px 0.1px black;
}

.detailsBtn,
.detailsBtn::before,
.detailsBtn::after {
    box-sizing: border-box;
}

.detailsBtn:hover {
    color: hsl(0, 97%, 44%);
    text-shadow: 1px 2px black;
  }

.detailsBtn {
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Carter One', sans-serif;
    letter-spacing: 2.5px;
    color: hsl(0, 100%, 51%);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-neon) 0.25em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    position: relative;
    font-weight: 700;
    opacity: 1;
    caret-color: transparent;
    text-shadow: 2px 2px black;
    box-shadow:
        inset 0 0 0.5em 0 var(--clr-neon),
        0 0 0.5em 0 var(--clr-neon);
}

.detailsBtn::before {
    pointer-events: none;
    /*use this string to avoid pointer change outside button */
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.detailsBtn::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;
    background-color: var(--clr-neon);
    z-index: -1;
}

.detailsBtn:hover,
.detailsBtn:focus {
    text-shadow: none;
}

.detailsBtn:hover::before,
.detailsBtn:focus::before {
    opacity: 1;
}

.detailsBtn:hover::after,
.detailsBtn:focus::after {
    opacity: 1;
}